
**/bin/
**/obj/


*.user
*.suo
*.userosscache
*.sln.docstates


.vs/
*.dbmdl


.DS_Store
Thumbs.db


*.log


.git
.gitignore


docker-compose.override.yml
.env


TestResults/


.idea/


.vscode/


**/out/
